---
import { Image } from "astro:assets";
import telakreistewe from "../telakreistewe.jpeg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Deez nuts</title>
  </head>
  <body>
    <main class="md:w-2/3 mx-auto w-4/5 p-4">
      <p>
        Hello and welcome to my blog. My name is Alexander Goussas and I am a
        software developer from Ecuador.
        <br />
        You can contact me at
        <a href="mailto:goussasalexander@gmail.com"
          >goussasalexander@gmail.com</a
        >
        or through my socials:
        <a
          class="underline"
          href="https://github.com/aloussase"
          target="_blank"
        >
          GitHub
        </a>,
        <a
          class="underline"
          href="https://linkedin.com/in/alexander-goussas"
          target="_blank"
        >
          LinkedIn
        </a>.
      </p>
      <p>
        You can see some of my projects
        <a class="underline" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
          here
        </a>.
      </p>
      <h3 class="text-2xl my-4">Posts</h3>
      <ul>
        <li class="list-disc">
          <a href="/posts/short-thoughts-on-our-craft" class="underline">
            Short thoughts on our craft
          </a>
        </li>
      </ul>
    </main>
  </body>
</html>
