---
import { Image } from "astro:assets";
import telakreistewe from "../telakreistewe.jpeg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>aloussase</title>
  </head>
  <body>
    <Image src={telakreistewe} alt="Te la kreiste we" />
  </body>
</html>
