---

---

<nav class="flex justify-between items-center">
  <div class="flex flex-col">
    <span class="text-2xl">Alexander Goussas</span>
    <span>I was chosen by God to Program</span>
  </div>
  <div>
    <ul class="flex gap-4">
      <li><a href="/">Blog</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/faq">FUCK</a></li>
    </ul>
  </div>
</nav>
